body {
    background: rgb(35, 161, 64);
}

.question-header {
    font-family: 'Slackey', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

#question-block {
    font-family: 'Bubblegum sans', sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    border-width: 0.2rem;
    border-color: #fff;
    border-style: solid;
    
}

#question-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.button-options {
 list-style: none;
 border: none;
 background-color: rgb(58, 56, 86);
 box-sizing: border-box;
 border-radius: 2rem;
 height: 15vh;
 padding-top: 2rem;
 margin-top: 2rem;
}

.choice-text {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: 'Bubblegum sans', sans-serif;
    margin-bottom: 3rem;
}

#button-4 {
    background-color: rgb(8, 7, 7);
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 0;
    margin-bottom: 2rem;
}

#button-4:hover {
    background-color: rgb(50, 89, 244);
}

.button-options:hover {
    background-color: rgb(50, 89, 244);
}

@media (min-width: 830px) {

    #question-block {
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 10vh;
        
    }

}