body {
    background: rgb(35, 161, 64);
}

.question {
    font-family: 'Slackey', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#question-block {
    font-family: 'Bubblegum sans', sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    border-width: 0.2rem;
    border-color: #fff;
    border-style: solid;
    
}

#question-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.button-options {
 list-style: none;
 border: none;
 background-color: rgb(58, 56, 86);
 box-sizing: border-box;
 border-radius: 2rem;box-sizing: border-box;
 height: 12vh;
 padding-top: 2rem;
 margin-top: 2rem;

}

.button-options:hover {
    background-color: orange;
}